@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda resetovanja lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša lozinka je resetovana. Kliknite <a asp-page="./Login">ovde da se ulogujete</a>.
</p>
