@page
@model Disable2faModel
@{
    ViewData["Title"] = "Isključivanje 2Fa";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ova akcija samo isključuje 2FA.</strong>
    </p>
    <p>
        Isključivanje 2FA ne menja ključeve korišćene u auth aplikacijama. Ako želite da promenite te ključeve,
        treba da ih prvo <a asp-page="./ResetAuthenticator">resetujete.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
