@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetovanje ključa autentikatora";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ako sada resetujete ključ, postojeći autentikator neće raditi.</strong>
    </p>
    <p>
        Ovaj proces onemugućuje 2FA sve dok ne verifikujete svoj autentikator.
        Ukoliko to ne uradite, postoji mogućnost da ćete izgubiti pristup svom nalogu.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Resetuj ključ autentikatora</button>
    </form>
</div>
