@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Dvofaktorska autentikacija (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nemate više preostalih kodova.</strong>
                    <p>Morate <a asp-page="./GenerateRecoveryCodes">generisati nov set kodova</a> pre nego što se opet možete ulogovati putem njih.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Ostao Vam je još jedan kod..</strong>
                    <p>Možete <a asp-page="./GenerateRecoveryCodes">generisati nov set kodova</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Imate još @Model.RecoveryCodesLeft preostala/ih kodova.</strong>
                    <p>Možete <a asp-page="./GenerateRecoveryCodes">generisati nov set kodova</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Zaboravi ovu mašinu</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Isključi 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetuj kodove</a>
        }

        <h4>Autentikator</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj autentikator</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj autentikator</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetuj autentikator</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
